.element__like {
  background-image: url("../../../images/element-like.svg");
  background-repeat: no-repeat;
  padding: 0;

  border: none;
  width: 22px;
  height: 18px;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}

.element__like:focus {
  outline: none;
}

.element__like:hover {
  opacity: .6;
}
